<html>
  <head>
      <title>TUP-C ACSO</title>
  </head>

  <body bgcolor="#FFF5EE">
  <center>
      <h1 style="color:white; font-size: 45px; background-color:maroon">TUP-Cavite Student Organization</h1>

  <form method="post">
  {% csrf_token %}

      <p><b> Date: </b></p>
      <input type = "date" id="today" name="today">
      <br><br>

      <label id="orgs"><b>Accredited Student Organization:</b></label>
      <br>
      <input bold type="text" id="org" name="org" placeholder="e.g. University Student Organization">
      <br><br>

      <label id="usernames"><b>Full Name:</b></label>
      <br>
      <input bold type="text" id="username" name="username" placeholder="e.g. Lyra F. Eria"><br><br>

      <label id="batch"><b>Course:</b></label>
      <br>
      <input bold type="text" id="batchs" name="batchs" placeholder="e.g. BSIE-ICT-3A">
      <br><br>

      <label id="concerns"><b>Student Number:</b></label>
      <br>
      <input bold type="text" id="cern" name="cern" placeholder="e.g. TUPC-20-**-**">
      <br>

  <div id="gender">
      <p id="p2"><b>Gender:</b></p>
      <input type="radio"   id="male" name="gender" value="Male">
      <label id="circle">Male</label>

      <input type="radio"   id="female" name="gender" value="Female">
      <label id="circle">Female</label>
      <br><br>

      <input type="submit" name="submit1" id="submit2" value="Submit">
  </div>
  </form>

  </center>
  </body>
</html> 
