<html>
	<head>
    	<meta charset="UTF-8">
    	<title>Collector</title>
	</head>

		<style>td,th {border: 2px solid maroon;}</style>

	<body bgcolor="#FFF5EE">
	<center>
		<h1 style="color:white; font-size: 40px; background-color:maroon">Member Information Collector</h1>
	</center>

		<div class="ems">
		{% for ems in ems %}
		<div class="ems">


	<center>
	<table style="width:100%">
		<tr>
		    <th><center><b>Date: {{ forloop.counter }}:</b></center> </th>
		    <th><center><b>Student Organization:</b></center></th>
		    <th><center><b>Full Name: </b></center></th>
		    <th><center><b>Course:</b></center></th>
		    <th><center><b>Student Number:</b></center></th>
		    <th><center><b>Gender:</b></center></th>
 		</tr>

  		<tr>
		    <td><center>{{ ems.today }} </center>  </td>
		    <td><center>{{ ems.org }}</center> </td>
		  	<td><center>{{ ems.username }}</center></td>
		 	<td><center>{{ ems.batch }}</center></td>                  
		 	<td><center> {{ ems.cern }}</center> </td>
		 	<td> <center>{{ ems.gender }}</center> </td>
		</tr>
		<br><br>
</table>
	</center>

		</div>
	{% endfor %}
	</body>
</html> 










