<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-color: #FEFCFF;
  }

#example2 {
display: flex;
  justify-content: center;
  flex-direction: column;
    border: #800517 solid 4px;
    border-radius: 15px;
    background-color: #FEFCFF;
    padding: 0px;
    margin: 80px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 10px #800517;
}

</style>
</head>
<body>
<center>
<h2></h2>

<div id="example2">
  <h2>Proposed Activities</h2>
  <p>"For the Students, By the Students"</p>
</div>
<p><b> Adviser </b></p>
<input bold type="text" id="batchs" name="batchs" placeholder="Adviser">
<br>
<p><b> Proposed Activities </b></p>
  <input bold type="text" id="batchs" name="batchs" placeholder="Activity #1"><br><br>
  <input bold type="text" id="batchs" name="batchs" placeholder="Activity #2"><br><br>
  <input bold type="text" id="batchs" name="batchs" placeholder="Activity #3"><br><br>
  <input bold type="text" id="batchs" name="batchs" placeholder="Activity #4"><br><br>
  <input bold type="text" id="batchs" name="batchs" placeholder="Activity #5"><br><br>
  <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Others">
      </textarea>
  <p><b> Letter of Accreditted </b></p>
<label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <p><b> Accomplishment Report </b> <i></p>
<label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>

<input type="submit" name="submit1" id="submit2" value="Proceed">
</center>
</body>
</html>
