<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-color: #FEFCFF;
  }

#example2 {
display: flex;
  justify-content: center;
  flex-direction: column;
    border: #800517 solid 4px;
    border-radius: 15px;
    background-color: #FEFCFF;
    padding: 0px;
    margin: 80px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 10px #800517;
}

</style>
</head>
<body>
<h2></h2>
<form>
<div id="example2">
  <h2>Contribution</h2>
  <p>"For the Students, By the Students"</p>
</div>

      <label id="circle">Registration fee:</label>
  <input bold type="text" id="batchs" name="batchs" placeholder="Registration fee"><br>

      <label id="circle">Payment:</label>
  <input bold type="text" id="batchs" name="batchs" placeholder="Payment"><br>
       <label id="circle">Fullname:</label>
  <input bold type="text" id="batchs" name="batchs" placeholder="Fullname"><br>
  <label id="circle">Course:</label>
  <input bold type="text" id="batchs" name="batchs" placeholder="Course"><br>
  <label id="circle">Balance:</label>
  <input bold type="text" id="batchs" name="batchs" placeholder="Balance"><br>
    <input type="submit" name="submit1" id="submit2" value="submit">
      </form>

</body>
</html>
