<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
        <h1 style="color:white; font-size: 40px; background-color:maroon">Member Detail</h1>
    </center>

	<h3>Fullname : {{ object.name }}</h3>
	<h3>Course : {{ object.course }}</h3>
	<h3>Year/Section : {{ object.year/section }}</h3>
	<h3>Student IDNumber : {{ object.IDnumber }}</h3>
	<h3>Position : {{ object.position }}</h3>
	<h3>Gender {{ object.gender }}</h3>
	<h3>Birthday : {{ object.birthday }}</h3>
</body>
</html>