<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-color: #FEFCFF;
  }

#example1 {
display: flex;
  justify-content: center;
  flex-direction: column;
    border: #800517 solid 4px;
    border-radius: 15px;
    background-color: #FEFCFF;
    padding: 0px;
    margin: 80px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 10px #800517;
}

</style>
</head>

<body>
<center>

<div id="example1">
  <h2>Member Information Collection</h2>
  <p>"For the Students, By the Students"</p>
</div>

      <input bold type="text" id="name" name="name" placeholder="Fullname"><br><br>

      <input bold type="text" id="course" name="course" placeholder="Course"><br><br>

      <input bold type="text" id="year" name="year" placeholder="Year/Section"><br><br>

      <input bold type="text" id="number" name="number" placeholder="Student ID Number"><br>
  
  <p id="p2"><b>Gender</b></p>
      <input type="radio"   id="male" name="gender" value="Male">
            <label id="circle">Male</label><br>
      <input type="radio"   id="female" name="gender" value="Female">
            <label id="circle">Female</label><br>
      <input type="radio"   id="i-others" name="gender" value="Others">
             <label id="circle">Others</label><br><br>


  <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" name="birthday"><br><br>

      <input type="submit" name="submit1" id="submit2" value="Proceed">
</div>
</center>
</body>

</html>
