<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Student Form</h1>
    <form method="POST">{% csrf_token %}
        <table>
            <tr>
                <td>Fullname</td>
                <td>:</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>:</td>
                <td>{{ form.course }}</td>
            </tr>
            <tr>
                <td>Year/Section </td>
                <td>:</td>
                <td>{{ form.year/section }}</td>
            </tr>
            <tr>
                <td>Student ID number</td>
                <td>:</td>
                <td>{{ form.IDnumber }}</td>
            </tr>
              <tr>
                <td>Gender</td>
                <td>:</td>
                <td>{{ form.gender }}</td>
            </tr>
              <tr>
                <td>Birthday</td>
                <td>:</td>
                <td>{{ form.birthday }}</td>
            </tr>
            <tr>
                <td><input type="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</body>
</html>