<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-color: #FEFCFF;
  }

#example2 {
display: flex;
  justify-content: center;
  flex-direction: column;
    border: #800517 solid 4px;
    border-radius: 15px;
    background-color: #FEFCFF;
    padding: 0px;
    margin: 80px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 10px #800517;
}

</style>
</head>
<body>
<form>
<center>
<h2></h2>

<div id="example2">
  <h2>Survey Form</h2>
  <p>"For the Students, By the Students"</p>
</div>


<form action="">


      <label id="usernames"><i>Comments/Suggestion/Feedback: Kindly provide your honest comments, suggestion and Feedback of this organization.</label></i><br><br>
      <input bold type="text" id="username" name="Strengths" placeholder="Strengths">
      <br><br>
      <input bold type="text" id="batchs" name="Weaknesses" placeholder="Weaknesses">
      <br><br>
      
      <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Other Suggestion">
      </textarea>
      <br><br>
      <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Feedback">
      </textarea>

      <br><br> 
      <input type="submit" name="submit1" id="submit2" value="submit">
</form>
</center>
</body>
</html>
