<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-color: #FEFCFF;
  }

#example2 {
display: flex;
  justify-content: center;
  flex-direction: column;
    border: #800517 solid 4px;
    border-radius: 15px;
    background-color: #FEFCFF;
    padding: 0px;
    margin: 50px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    box-shadow: 5px 10px #800517;
}

</style>
</head>
<body>
<center>
<h2></h2>

<div id="example2">

  <h2>Welcome to TUP-Cavite ACSO</h2>
  <p>"Accredited Student Organization"</p>
</div>
  <form action="">
<form class="EDMARIE"action="#" method="post">
      {% csrf_token %}

  <br><br>
  <label id="batch"><b>Organization:</b></label>
      <br><br>
  <input bold type="text" id="org" name="org" placeholder=" University Student Organization">
<br><br>
  <label for="cars"><b>Classification:</b></label><br><br>
  <select name="cars" id="cars">
    <option value="volvo">Officer</option>
    <option value="saab">Member</option>
  </select>
<br><br>
    <input type="submit" name="submit1" onclick="myFunction()" value="submit"style="color:red;">
      </form>
</center>
</body>
</html>