 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>University Studffffffffffffffffent Government</h1>

<label for="org"><Accreditted Organization 2020/label>

<select id="org">
	<optgroup label="Accreditted Organization 2020">
	<option value="Accreditted Organization 2020"> Accreditted Organization 2020</option>
  <option value="ARTIST CLUB"> ARTIST CLUB</option>
  <option value="ASSOCIATION OF CIVIL ENGINEERING TECHNOLOGY STUDENT"> ASSOCIATION OF CIVIL ENGINEERING TECHNOLOGY STUDENT</option>
  <option value="ASSOCIATION OF COMPUTER TECHNOLOGY STUDENTS">ASSOCIATION OF COMPUTER TECHNOLOGY STUDENTS"</option>
  <option value="ASSOCIATION OF POWER PLANT ENGINEERING TECHNOLOGY STUDENTS">ASSOCIATION OF POWER PLANT ENGINEERING TECHNOLOGY STUDENTS"</option>
<option value="ENGINEERING HONOR SOCIETY">ENGINEERING HONOR SOCIETY</option>
<option value="FUTURE EDUCATORS' ORGANIZATIONS">FUTURE EDUCATORS' ORGANIZATIONS</option>
<option value="MECHANICAL ENGINEERING TECHNOLOGY ASSOCIATION AND LEAGUE OF STUDENTS">MECHANICAL ENGINEERING TECHNOLOGY ASSOCIATION AND LEAGUE OF STUDENTS</option>
<option value="OTTO DE DION">OTTO DE DION</option>
<option value="PHILIPPINE INSTITUTE OF CIVIL ENGINEERING">PHILIPPINE INSTITUTE OF CIVIL ENGINEERIN</option>
<option value="SOCIETY OF ELECTRONICS TECHNOLOGY STUDENTS">SOCIETY OF ELECTRONICS TECHNOLOGY STUDENTS</option>
<option value="STUDENT AMBASSADOR FOR CHRIST">STUDENT AMBASSADOR FOR CHRIST</option>
<option value="STUDENTS RIDER CLUB">STUDENTS RIDER CLUB</option>

 
    </optgroup>
</select>
<br><br>

<form action="/action_page.php">
  <label for="username">Fullname:</label><br>
  <input type="text" id="username" name="username"><br><br>
  <label for="pwd">Course:</label><br>
<input type="text" id="username" name="username"><br>
</form>

<br>
<button onclick="myFunction()">Done</button>

<script>
function myFunction() {
  alert("Hello\nHow are you?");
}
</script>


</body>
</html> 